<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657140355281-4lttlugi1rers4h9p8dp9uvfmlrdq2mr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657140355281-4lttlugi1rers4h9p8dp9uvfmlrdq2mr</string>
	<key>API_KEY</key>
	<string>AIzaSyARHqxt9jOs6MOVl_rlIdGIOWBYqVLCuq0</string>
	<key>GCM_SENDER_ID</key>
	<string>657140355281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ttt.algoandcoding.InstaPets</string>
	<key>PROJECT_ID</key>
	<string>instapets-dfe53</string>
	<key>STORAGE_BUCKET</key>
	<string>instapets-dfe53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657140355281:ios:2b0ca181d54b9707e375f0</string>
	<key>DATABASE_URL</key>
	<string>https://instapets-dfe53.firebaseio.com</string>
</dict>
</plist>